@font-face {
	font-family: " SM3신신명조-03";
	src: url("font/ SM3신신명조-03.otf") format("opentype"),
}

body {
	background: #FFF617;
}

.scroll {
	overflow: hidden;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	position: absolute;
  width: 1280px;
  height: 800px;
  background: #FFF617;
}

h1 {
	color: ghostwhite;
	font-size: 70px;
	font-family: Georgia, serif;
	margin-top: 60px;
	text-align: center;
	filter: blur(2px);
}

#ellipse {
  position: absolute;
  width: 778px;
  height: 772px;
  left: 251px;
  top: 14px;
  background: radial-gradient(50% 50% at 50% 50%, #23F700 51.04%, #FFF617 96.88%, #FFF617 100%);
}

.explanation {
	position: absolute;
	height: 120px;
	font-size: 30px;
	font-family: SM3신신명조-03;
	line-height: 40px;
  transform: translate(500px,370px);
  transform-origin: center center;
}

.HL {
	background-color: #FF27E9;
	color: white;
}



/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/